
.cardContainer {
    position: relative;
    max-width: 340px;
    margin: 50px 0px;
    //transition: all 0.3s;
    filter: brightness(1);
    img {
        object-fit: cover;
        width: 100%;
        height: 100%;
        aspect-ratio: 1;
        border-radius: 10px;
        transition: all 0.3s;
    }
    &:hover img {
        filter:brightness(0.9)
    }
    &:hover p {
        filter:brightness(1.1)
    }
}
.title {
    font-size: 1.125rem;
    font-weight: 800;
    position: absolute;
    bottom: 20px;
    left: 20px;
    color:white;
    padding: 5px;
    margin: 15px;
    display: inline-block;
    max-width: 260px;
    border-radius: 5px;
    //background-blend-mode: darken;
    background-color: rgba(#615d5d, 0.5);
    box-shadow: 0 4px 30px rgba(0,0,0, 0.8);
}