.container {
    display: flex;
    flex-flow: column;
    justify-items: space-around;
    align-items: center;
    gap: 140px;
}
.big404 {
    margin: 0;
    font-size: 18rem;
    color: #FF6060
}

.sub404 {
    font-size: 2.25rem;
    color: #FF6060;
    text-align: center;
}

.goToHome {
    a {
    color: black;
    }
    text-align: center;
    font-size: 1.125rem;
    text-decoration: underline;
    margin-bottom: 140px;
}

@media screen and (max-width: 768px) {
    .container {
        gap : 50px;
    }
    .big404 {
        font-size: 6rem;
    }
    .sub404 {
        font-size: 1.125rem;
    }
    .goToHome {
        font-size: 0.875rem;
    }
}