.container {
    border-radius: 25px;
    margin: 40px 0px;
}

.cardsContainer {
    padding: 35px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(370px, 1fr));
    gap: 22.5px;
}

@media screen and (min-width: 769px) {
    .container {   
     background-color: #F6F6F6;
    }
}

@media screen and (max-width: 768px) {
    .container {
        margin: 0;
        margin-top: 25px;
    }
    .cardsContainer {
        flex-flow: column;
        margin: 0px;
        padding: 0px;
    }
}